.container {
    border: 2px solid rgb(75 70 74);
    border-radius: 0.5em;
    padding: 20px 10px;
    font: 1.2em sans-serif;
  
    display: flex;
  }
  
.container > * {
    padding: 10px;
    border: 2px solid rgb(95 97 110);
    border-radius: 0.5em;
  
    margin: 0 10px;
    flex: 1;
  }
  