<style type="text/css">
.js-plotly-plot .plotly {
    width: unset !important;
}
.Skin input[type="checkbox"], .Skin input[type="radio"] {
    position: unset !important;
    opacity: unset !important;
    z-index:unset !important;
    height: unset !important;
    width: unset !important;
}
legend {
    font-weight: bold;
}
.Skin fieldset {
    padding-bottom: 10px;
}
.container div {
    padding-right: 10px;
}
datalist {
    display: flex;
    justify-content: space-between; /* Distribute the labels evenly */
    width: 100%; /* Match the slider width */
    color: black;
    font-family: monospace; /* Monospaced font for consistent character width */
    font-size: 14px;
}
datalist option {
    display: block; /* Makes it easier to control layout */
    text-align: center; /* Center the text */
}
.js-plotly-plot .plotly * {
    cursor: default !important;
}
h1 {
    padding-bottom: 15px;
    line-height: 1;
}
</style>